---
import { Tabs as TabsReact } from "./Tabs";

interface Props {
  defaultIndex?: number;
  class?: string;
}

const { defaultIndex, class: className } = Astro.props;
---

<TabsReact defaultIndex={defaultIndex} className={className} client:load>
  <slot />
</TabsReact>

<span
  hidden
  aria-hidden="true"
  class="-mb-px max-w-max border-current border-transparent text-primary text-stone-900 hover:border-stone-300 dark:text-stone-200 dark:hover:border-stone-700"
></span>

<style is:global>
  .bp-tabs .bp-tab-panel {
    display: none;
  }
  .bp-tabs .bp-tab-panel:first-of-type {
    display: block;
  }
  .bp-tabs .bp-tab-list:empty {
    display: none;
  }
  .bp-tabs[data-ready="true"] .bp-tab-panel {
    display: none;
  }
  .bp-tabs[data-ready="true"] .bp-tab-panel[data-active="true"] {
    display: block;
  }
</style>
