---
interface Props {
  class?: string;
}

const { class: className } = Astro.props;
---

<div
  class={`mt-0 mb-3 overflow-hidden rounded-xl border border-stone-200/70 dark:border-white/10 [&>details+details]:border-t [&>details+details]:border-t-stone-200/70 dark:[&>details+details]:border-t-white/10 [&>details>summary]:rounded-none [&>details]:mb-0 [&>details]:rounded-none [&>details]:border-0 ${className || ""}`}
>
  <slot />
</div>
